# Enable balance checking (true/false)
CHECK_BALANCES=true
# RPC URL for Ethereum node
RPC_URL=https://eth.llamarpc.com
# How many addresses to check in each batch
BALANCE_BATCH_SIZE=100
# Desired address prefix
PREFIX=dEAD000000000000000042069420694206942069
SYNC_MODE=false  # Set to true for synchronous balance checking
# CUDA batch size for address generation
BATCH_SIZE=500